<h1>User#account_activation</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/account_activation.html.erb
</p>

<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Horse Racing Merchandise, in order to complete activation of your account please click on the link below:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>