<footer class="footer">
  <small>
   HRM - Horse Racing Merchandise, Arkle House, Sea The Stars Road, Denman, Dublin 15
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
      <li><%= link_to "Help", '/help' %></li>
    </ul>
  </nav>
</footer>